<%- include('partials/header') %>
  <main class="categories">
    <h1>
      <%= title %>
    </h1>
    <ul>
      <li><a href="#">Environmental</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Community Service</a></li>
      <li><a href="#">Health and Wellness</a></li>
    </ul>
    
  </main>

  <%- include('partials/footer') %>